<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<property name="connection.url">jdbc:mysql://npeasy.com:3306/xiaoneixiangqin</property>
    	<property name="connection.username">agile</property>
    	<property name="connection.password">agile123</property>
    	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    	<!-- 设置dialect属性可以使用该类型数据库特性 -->
    	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    	<!-- 在命令行输出SQL语句 -->
    	<property name="show_sql">true</property>
    	
    	<!-- Model属性与数据库字段的映射文件 -->
    	<mapping resource="com/xiangqin/ORM/User.hbm.xml" />
    	<mapping resource="com/xiangqin/ORM/UserInfo.hbm.xml"/>
    </session-factory>
</hibernate-configuration>